body{
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	color: #333;
	background: #fff;
	padding: 20px;
}
a{
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
	max-width: 700px;
    padding: 25px 35px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    background: #F8F8F8;
    box-sizing: border-box;
}
.container:after,
.cell-wrapper:after,
.score-wrap:after{
	content: '';
	display: block;
	clear: both;
}
.contact-block{
	padding: 15px 0;
	font-size: 14px;
	width: 100%;
	text-align: center;
}
.title{
	font-size: 22px;
	font-weight: 600;
}
.button{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 4px 20px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button:active{
    background-color: #286090;
    border-color: #204d74;
}
.start-game_txt{
	font-size: 18px;
	font-weight: 600;	
	padding-right: 14px;
	padding-top: 2px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.level-set-block{
    margin: 6px auto;
    max-width: 310px;
}
.blank-block-wrap.set-level-wrap{
	background-color: rgba(248, 248, 248, 1);
}
.level-set-block .level{
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid transparent;
	font-size: 22px;
	font-weight: 600;
	float: left;
}
.level.easy{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.level.medium{
	margin: 0 10px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.level.hard{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.game-container{
	position: relative;
	text-align: center;
	padding: 35px 35px;
}
.score-wrap{
	padding-bottom: 15px;
	font-size: 15px;
	font-weight: 600;
}
.cell-wrapper{
	position: relative;
	display: inline-block;
	width: 100%;
}
.cell-wrapper.cell-wrapper_33 .cell:nth-child(n+7){
	border-bottom: 1px solid #F8F8F8;
}
.cell-wrapper.cell-wrapper_33 .cell:nth-child(3n){
	border-right: 1px solid #F8F8F8;
}
.cell-wrapper.cell-wrapper_44 .cell:nth-child(n+13){
	border-bottom: 1px solid #F8F8F8;
}
.cell-wrapper.cell-wrapper_44 .cell:nth-child(4n){
	border-right: 1px solid #F8F8F8;
}
.cell-wrapper.cell-wrapper_55 .cell:nth-child(n+21){
	border-bottom: 1px solid #F8F8F8;
}
.cell-wrapper.cell-wrapper_55 .cell:nth-child(5n){
	border-right: 1px solid #F8F8F8;
}
.cell-wrapper.no_active:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.cell-wrapper .cell{
	position: relative;
	display: inline-block;
	border-top: 3px solid #F8F8F8;
	border-left: 3px solid #F8F8F8;
	text-align: center;
	border-radius: 6px;
	box-sizing: border-box;
	float: left;
	background: #92C2E8;
	cursor: pointer;
	line-height: 100%;
}
.cell-wrapper .cell.hidden:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #C0C0C0;
	z-index: 9;
}
.cell-wrapper .cell .emoji{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	zoom: 1.1;
}
.cell-wrapper_44 .cell{
	width: 25%;
	height: 25%;
}
.cell-wrapper_66 .cell{
	width: 16%;
	height: 16%;
}
.cell-wrapper_88 .cell{
	width: 12%;
	height: 12%;
}
.blank-block-wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(248, 248, 248, 0.9);
	z-index: 999;
	font-size: 18px;
	font-weight: 600;
	box-sizing: border-box;
}
.how-to-play-block{
	margin: auto;
	max-width: 520px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 0 10px;
}
.hide{
	display: none;
}
.blank-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding-top: 40px;
	height: 300px;
}
.result-block .title{
	font-size: 36px;
	position: relative;
}
.set-level-block .title{
	font-size: 32px;
	margin-bottom: 40px;
}
.start-block .title{
	font-size: 32px;
	margin-bottom: 20px;
}
.result-block .emoji{
	position: absolute;
	margin-top: 14px;
	margin-left: 14px;
}
.result-block #result{
	font-size: 20px;
}
.result-block .button{
	margin: 20px 0;
}
.result-block .scl-btns-wrapper{
	margin-top: 20px;
}
.result-block .scl-btns{
    width: 328px;
    margin: 20px auto;
}
.result-block .scl-btns span{
	margin-right: 10px;
	float: left;
}
.result-block .scl-btns span:last-child{
	margin-right: 0;
}
@media (max-width: 400px) {
	.level-set-block .level{
		font-size: 16px;
		float: none;
	}
}